/*大概结构部分*/
body,html{
    height:100%;
    overflow: hidden;
    background-color: antiquewhite;
}

/*首页顶部部分*/
#header{
    /*border-bottom: 1px solid #f0f0f0;*/
    background-color: #fff;
    position: relative;
    z-index:10;
}
.header{
    width:1100px;
    height:80px;
    margin:0 auto;
}
.header-left{
    float: left;
    margin-top: 10px;
}
.logo{
    float: left;
}
.logo a{
    display: block;
}
.music-icon{
    float: left;
    margin-top: 30px;
}
.nav{
    float: right;
    margin-top:50px;
}
.nav li{
    float: left;
    margin-left:30px;
    position: relative;
}
.nav li a{
    display: block;
    cursor: pointer;
}
.nav a.current .black{
    width:100%;
}
.nav li a:hover .black{
    width:100%;
}
.nav .blue{
    color: #359900;
}
.nav .black{
    color: #000;
    position: absolute;
    top:0;
    width: 0;
    overflow: hidden;
    transition: width 0.5s;
}
.arrow{
    width:22px;
    height:12px;
    background: url("../imgs/arrow.png") no-repeat;
    background-size: cover;
    position: absolute;
    /*left:50%;*/
    bottom:-8px;
    /*增加过渡*/
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -ms-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
}
/*内容主体部分整体结构*/
.content-box{
    position: absolute;
    top:80px;
    left:0;
    right:0;
    bottom:0;
    background-color: cadetblue;
    overflow: hidden;
}
.content-ul{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    transition: top 1s;
}
.content-ul li{
    width:100%;
    height:100%;
    /*background-color: antiquewhite;*/
    position: relative;
    overflow: hidden;
    background-size: cover;
}
.content-ul .section{
    position: absolute;
    top:50%;
    left:50%;
    width:1100px;
    height:520px;
    margin-top:-260px;
    margin-left:-550px;
    /*background-color: #359900;*/
    /*opacity:0.3;
    filter: alpha(opacity=30);*/
}
/*每一屏幕背景图片添加*/
.content-ul > li:nth-child(1){
    background-image: url("../imgs/bg1.jpg");
}
.content-ul > li:nth-child(2){
    background-image: url("../imgs/bg2.jpg");
}
.content-ul > li:nth-child(3){
    background-image: url("../imgs/bg3.jpg");
}
.content-ul > li:nth-child(4){
    background-image: url("../imgs/bg4.jpg");
}
.content-ul > li:nth-child(5){
    background-image: url("../imgs/bg5.jpg");
}
/*页面切换指示点*/
.page-dot{
    width:50px;
    height:100%;
    /*background-color: #359900;*/
    position: absolute;
    top:50%;
    margin-top: -75px;
    right:0;
}
.page-dot li{
    width:20px;
    height:20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.page-dot .current{
    background-color: #fff;
}

/*home屏的样式*/
.home{
    width:100%;
    height:100%;
    position: relative;
}
.home-carousel{
    width:100%;
    height:100%;
    /*background-color: aliceblue;*/
    position: relative;

    transform-style: preserve-3d;
    perspective: 1000px;
    transition: opacity 1s, transform 1s;
}
.home-carousel li{
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 100px;
    line-height: 520px;
    visibility: hidden;
}
.home-carousel li:nth-child(1){
    background-color: brown;
}
.home-carousel li:nth-child(2){
    background-color: cadetblue;
}
.home-carousel li:nth-child(3){
    background-color: darkolivegreen;
}
.home-carousel li:nth-child(4){
    background-color: indigo;
}
.home-dot{
    position: absolute;
    bottom:10px;
    left:50%;
    margin-left:-40px;
}
.home-dot li{
    width:15px;
    height:15px;
    background-color: #fff;
    opacity:0.5;
    float: left;
    border-radius: 50%;
    margin-left:5px;
    cursor: pointer;
}
.home-dot .current{
    opacity:1;
}
.home-carousel li.current{
    visibility: visible;
}
/*
  点击左边的小圆点时：
    左边：向左位移，旋转30deg，隐藏到显示
    右边：向右位置，旋转-30deg，显示到隐藏
 */
@keyframes leftShow{
    0%{visibility: hidden;transform: translateZ(-200px);}
    50%{transform: translateX(-40%) rotateY(30deg) scale(.8)}
    100%{visibility: visible}
}
@keyframes rightHide{
    0%{visibility: visible}
    50%{transform: translateX(40%) rotateY(-30deg) scale(.8)}
    100%{transform: translateZ(-200px);visibility: hidden;}
}
.home-carousel li.leftShow{
    visibility: visible;
    -webkit-animation:;
    -o-animation:;
    animation:leftShow 1.5s linear;
}
.home-carousel li.rightHide{
    visibility: hidden;
    -webkit-animation:;
    -o-animation:;
    animation:rightHide 1.5s linear;
}
/*
  点击右边的小圆点时：
    左边：向左位移，旋转30deg，显示到隐藏
    右边：向右位置，旋转-30deg，隐藏到显示
 */
@keyframes leftHide {
    0%{visibility: visible}
    50%{transform: translateX(-40%) rotateY(30deg) scale(.8)}
    100%{transform: translateZ(-200px);visibility: hidden;}
}

@keyframes rightShow {
    0%{visibility: hidden;transform: translateZ(-200px);}
    50%{transform: translateX(40%) rotateY(-30deg) scale(.8)}
    100%{visibility: visible}
}
.home-carousel li.rightShow{
    visibility: visible;
    -webkit-animation:rightShow 1.5s linear;
    -o-animation:rightShow 1.5s linear;
    animation:rightShow 1.5s linear;
}
.home-carousel li.leftHide{
    visibility: hidden;
    -webkit-animation:leftHide 1.5s linear;
    -o-animation:leftHide 1.5s linear;
    animation:leftHide 1.5s linear;
}
