/*大概结构部分*/
body,html{
    height:100%;
    overflow: hidden;
    background-color: antiquewhite;
}

/*首页顶部部分*/
#header{
    border-bottom: 1px solid #f0f0f0;
    background-color: #fff;
    position: relative;
}
.header{
    width:1100px;
    height:80px;
    margin:0 auto;
}
.header-left{
    float: left;
    margin-top: 10px;
}
.logo{
    float: left;
}
.logo a{
    display: block;
}
.music-icon{
    float: left;
    margin-top: 30px;
}
.nav{
    float: right;
    margin-top:50px;
}
.nav li{
    float: left;
    margin-left:30px;
    position: relative;
}
.nav li a{
    display: block;
    cursor: pointer;
}
.nav a.current .black{
    width:100%;
}
.nav li a:hover .black{
    width:100%;
}
.nav .blue{
    color: #359900;
}
.nav .black{
    color: #000;
    position: absolute;
    top:0;
    width: 0;
    overflow: hidden;
    transition: width 0.5s;
}
.arrow{
    width:22px;
    height:12px;
    background: url("../imgs/arrow.png") no-repeat;
    background-size: cover;
    position: absolute;
    /*left:50%;*/
    bottom:-8px;
    /*增加过渡*/
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -ms-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
}
/*内容主体部分*/