/*大概结构部分*/
body,html{
    height:100%;
    overflow: hidden;
    background-color: antiquewhite;
}

/*首页顶部部分*/
#header{
    /*border-bottom: 1px solid #f0f0f0;*/
    background-color: #fff;
    position: relative;
    z-index:10;
}
.header{
    width:1100px;
    height:80px;
    margin:0 auto;
}
.header-left{
    float: left;
    margin-top: 10px;
}
.logo{
    float: left;
}
.logo a{
    display: block;
}
.music-icon{
    float: left;
    margin-top: 30px;
    margin-left: 10px;
    cursor: pointer;
}
.nav{
    float: right;
    margin-top:50px;
}
.nav li{
    float: left;
    margin-left:30px;
    position: relative;
}
.nav li a{
    display: block;
    cursor: pointer;
}
.nav a.current .black{
    width:100%;
}
.nav li a:hover .black{
    width:100%;
}
.nav .blue{
    color: #359900;
}
.nav .black{
    color: #000;
    position: absolute;
    top:0;
    width: 0;
    overflow: hidden;
    transition: width 0.5s;
}
.arrow{
    width:22px;
    height:12px;
    background: url("../imgs/arrow.png") no-repeat;
    background-size: cover;
    position: absolute;
    /*left:50%;*/
    bottom:-8px;
    /*增加过渡*/
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -ms-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
}
/*内容主体部分整体结构*/
.content-box{
    position: absolute;
    top:80px;
    left:0;
    right:0;
    bottom:0;
    background-color: cadetblue;
    overflow: hidden;
}
.content-ul{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    transition: top 1s;
}
.content-ul > li{
    width:100%;
    height:100%;
    /*background-color: antiquewhite;*/
    position: relative;
    overflow: hidden;
    background-size: cover;
}
.content-ul .section{
    position: absolute;
    top:50%;
    left:50%;
    width:1100px;
    height:520px;
    margin-top:-260px;
    margin-left:-550px;
    /*background-color: #359900;*/
    /*opacity:0.3;
    filter: alpha(opacity=30);*/
}
/*每一屏幕背景图片添加*/
.content-ul > li:nth-child(1){
    background-image: url("../imgs/bg1.jpg");
}
.content-ul > li:nth-child(2){
    background-image: url("../imgs/bg2.jpg");
}
.content-ul > li:nth-child(3){
    background-image: url("../imgs/bg3.jpg");
}
.content-ul > li:nth-child(4){
    background-image: url("../imgs/bg4.jpg");
}
.content-ul > li:nth-child(5){
    background-image: url("../imgs/bg5.jpg");
}
/*页面切换指示点*/
.page-dot{
    width:50px;
    height:100%;
    /*background-color: #359900;*/
    position: absolute;
    top:50%;
    margin-top: -75px;
    right:0;
}
.page-dot li{
    width:20px;
    height:20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.page-dot .current{
    background-color: #fff;
}

/*第一屏home样式*/
.home{
    width:100%;
    height:100%;
    position: relative;

    transition: transform 1s,opacity 1s;
}
.home-carousel{
    width:100%;
    height:100%;
    /*background-color: aliceblue;*/
    position: relative;

    transform-style: preserve-3d;
    perspective: 1000px;
    transition: opacity 1.5s, transform 1.5s;
}
.home-carousel li{
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 100px;
    line-height: 520px;
    visibility: hidden;
}
.home-carousel li:nth-child(1){
    background-color: brown;
}
.home-carousel li:nth-child(2){
    background-color: cadetblue;
}
.home-carousel li:nth-child(3){
    background-color: darkolivegreen;
}
.home-carousel li:nth-child(4){
    background-color: indigo;
}
.home-dot{
    position: absolute;
    bottom:10px;
    left:50%;
    margin-left:-40px;
}
.home-dot li{
    width:15px;
    height:15px;
    background-color: #fff;
    opacity:0.5;
    float: left;
    border-radius: 50%;
    margin-left:5px;
    cursor: pointer;
}
.home-dot .current{
    opacity:1;
}
.home-carousel li.current{
    visibility: visible;
}
/*
  点击左边的小圆点时：
    左边：向左位移，旋转30deg，隐藏到显示
    右边：向右位置，旋转-30deg，显示到隐藏
 */
@keyframes leftShow{
    0%{visibility: hidden;transform: translateZ(-200px);}
    50%{transform: translateX(-40%) rotateY(30deg) scale(.8)}
    100%{visibility: visible}
}
@keyframes rightHide{
    0%{visibility: visible}
    50%{transform: translateX(40%) rotateY(-30deg) scale(.8)}
    100%{transform: translateZ(-200px);visibility: hidden;}
}
.home-carousel li.leftShow{
    visibility: visible;
    -webkit-animation:leftShow 1.5s linear;
    -o-animation:leftShow 1.5s linear;
    animation:leftShow 1.5s linear;
}
.home-carousel li.rightHide{
    visibility: hidden;
    -webkit-animation:rightHide 1.5s linear;
    -o-animation:rightHide 1.5s linear;
    animation:rightHide 1.5s linear;
}
/*
  点击右边的小圆点时：
    左边：向左位移，旋转30deg，显示到隐藏
    右边：向右位置，旋转-30deg，隐藏到显示
 */
@keyframes leftHide {
    0%{visibility: visible}
    50%{transform: translateX(-40%) rotateY(30deg) scale(.8)}
    100%{transform: translateZ(-200px);visibility: hidden;}
}

@keyframes rightShow {
    0%{visibility: hidden;transform: translateZ(-200px);}
    50%{transform: translateX(40%) rotateY(-30deg) scale(.8)}
    100%{visibility: visible}
}
.home-carousel li.rightShow{
    visibility: visible;
    -webkit-animation:rightShow 1.5s linear;
    -o-animation:rightShow 1.5s linear;
    animation:rightShow 1.5s linear;
}
.home-carousel li.leftHide{
    visibility: hidden;
    -webkit-animation:leftHide 1.5s linear;
    -o-animation:leftHide 1.5s linear;
    animation:leftHide 1.5s linear;
}

/*第二屏course样式*/
.content-ul .course{
    /*background-color: #333333;*/
    position: relative;
}
.screen-title{
    color: orangered;
    font-size: 70px;
    line-height: 0.8;
    margin-top:30px;
    transition: transform 1s;
}
.course h3{
    position: relative;
    width:500px;
    z-index: 3;
}
.course-p,.about-p{
    position: relative;
    z-index: 3;
    font-size: 16px;
    color: #fff;
    width: 380px;
    height:300px;
    margin-top:60px;
    margin-left:10px;+
    /*background-color: indigo;*/
}
.course-item{
    position: absolute;
    width:480px;
    height:400px;
    color: #fff;
    top:20px;
    right:20px;
    /*border: 1px solid #000;*/
}
.course-item li{
    width: 120px;
    height:130px;
    float: left;
    /*border: 1px solid #000;*/
    position: relative;
}
.course-item .forward,.course-item .back{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    transition: transform 1s linear;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.course-item .forward{
    text-align: center;
    line-height: 130px;
}
.course-item .forward img{
    width: 70%;
}
.course-item .back{
    background-color: darkolivegreen;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    padding:10px;
}
.course li:hover .forward{
    transform: rotateY(180deg);
}
.course li:hover .back{
    transform: rotateY(360deg);
}
.course .plus-add{
    position: absolute;
    width:600px;
    height:400px;
    color: #fff;
    top:15px;
    right:0px;
}
.course .plus-add li{
    width: 10px;
    height: 680px;
    background: url("../imgs/plus_row.png") no-repeat;
    margin-left:106px;
    float: left;
}
.course .airplane{
    position: absolute;
    transition: transform 1s;
    z-index: 0;
}
.course .airplane:nth-of-type(1){
    top:20px;
    left:-200px;
}
.course .airplane:nth-of-type(2){
    bottom:-80px;
    left:200px;
}
.course .airplane:nth-of-type(3){
    top:-150px;
    left:470px;
}

/*第三屏works样式*/
.works{
    /*background-color: indigo;*/
}
.works-item{
    position: absolute;
    bottom:50px;
    left:0;
    /*border: 1px solid #000;*/
    z-index: 2;
}
.works-item li{
    float: left;
    margin-left:6px;
    position: relative;
}
.works-item li:hover .mask{
    opacity:0.7;
}
.works-item li:hover p{
    opacity:1;
}
.works-item li:hover .check-icon{
    opacity:1;
    background-position-y: -34px;
}
.works-item li:hover img{
    transform: rotate(35deg) scale(1.3) ;
}
.works-robot{
    position: absolute;
    right: 60px;
    bottom: 170px;
    animation: robotMove 5s infinite linear;
    z-index: 2;
}
.works .works-title{
    margin-top:40px;
    position: relative;
    z-index: 2;
}
.works-item .content,.works-item .mask{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:10px;
}
.works-item li{
    overflow: hidden;
}
.works-item img{
    transition: transform 1s;
}
.works-item .mask{
    background-color: black;
    opacity:0;
    transition: opacity 1s;
}
.works-item .content p{
    color: #fff;
    opacity:0;
    transition: opacity 1s;
}
.check-icon{
    width: 32px;
    height:34px;
    background-image: url("../imgs/zoomico.png");
    background-position-y:0;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    opacity:0;
    transition: opacity,background-position-y 1s;
}
/*机器人动画*/
@keyframes robotMove{
    0%{transform: translateX(0px) rotateY(0deg)}
    49.9%{transform: translateX(-500px) rotateY(0deg)}
    50%{transform: translateX(-500px) rotateY(180deg)}
    100%{transform: translateX(0px) rotateY(180deg)}
}
.pencil{
    position: absolute;
    transition: transform 1s;
    z-index: 0;
}
.works > .pencil:nth-of-type(2){
    top:30px;
    left:-30px;
}
.works > .pencil:nth-of-type(3){
    top:0px;
    left:500px;
}
.works > .pencil:nth-of-type(4){
    top:260px;
    left:350px;
}
/*第四屏about样式*/
.about{
    /*background-color: darkolivegreen;*/
}
.about .about-title{
    margin-left: 8px;
}
.about-p{

}
.about-img-box{
    width:520px;
    height:460px;
    /*background-color: #333333;*/
    position: absolute;
    right:0;
    top:30px;
}
.about-img{
    width:260px;
    height:200px;
    border: 6px solid rgba(200,200,200,.3);
    border-radius: 10px;
    position: relative;
    transition: transform 1s;
}
.about-img.one{
    margin-left:130px;
}
.about-img.two{
    margin-top:30px;
}
.about-img ul{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.about-img li{
    width:50%;
    height:50%;
    background-color: indigo;
    float: left;
    overflow: hidden;
    background: url("../imgs/about3.jpg") no-repeat;
    transition: background-position 1s;
}
.about-img:hover li:nth-child(1){
    background-position: 0 -100%;
}
.about-img:hover li:nth-child(3){
    background-position: -100% 0;
}.about-img:hover li:nth-child(2){
    background-position: 201% 0;
}
.about-img:hover li:nth-child(4){
    background-position: 100% 200%;
}
.about-img.two li{
    background: url("../imgs/about4.jpg") no-repeat;
}
.about-img li:nth-child(0){
    background-position: 0 0;
}
.about-img li:nth-child(2){
    background-position: 100% 0;
}.about-img li:nth-child(3){
    background-position: 0 100%;
}
.about-img li:nth-child(4){
    background-position: 100% 100%;
}
/*第五屏team样式*/
.team{
    /*background-color: indigo;*/
}
.team-p{
    width:500px;
    color: #fff;
    margin-left:50%;
    margin-top:-116px;
    transition: transform 1s;
}
.team-persons{
    width:944px;
    height:448px;
    /*background-color: orangered;*/
    position: absolute;
    bottom:-140px;
    left:84px;
}
.team-persons li{
    float: left;
    width:25%;
    height:100%;
    background: url("../imgs/team.png") no-repeat;
}
.team-persons li:nth-child(1){
    background-position: -1% 0;
}.team-persons li:nth-child(2){
    background-position: 32% 0;
}
.team-persons li:nth-child(3){
    background-position: 68% 0;
}
.team-persons li:nth-child(4){
    background-position: 100% 0;
}
.team-persons .cvs{
    position: absolute;
    top:0;
    /*left:0;*/
    /*background-color: black;*/
    width: 25%;
    height:100%;
}